@import "./theme.css" layer(theme);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:is(.dark *));
@tailwind base;
@tailwind components;

:root {
font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

color-scheme: light dark;

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.pages {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
min-height: 100vh;
}

.navBar {
width: 100%;
flex: 1;
display: flex;
flex-direction: row;
margin: 0;
}

.footer {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1.5em;
min-height: 350px;
}

.navBar {
color: #2600ff;
font-weight: bold;
text-decoration: inherit;
}

.navBar:hover {
color: #8c00ff;
}

body {
width: 100%;
margin: 0;
height: 100%;
padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
display: block;
/* 1 */
vertical-align: middle;
/* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
max-width: 100%;
height: auto;
}